:root {
    --main-color:rgb(209,223,236);
    --secondary-color:midnightblue;
    --btn-color:rgb(28,128,238);
    --light:white;
    --dark:black;    
    --header-font:"Libre Caslon Text", serif;
    --main-font:sans-serif;
    --main-gradient:linear-gradient(to bottom , midnightblue 25% , gray 75%);
    --gray:gray;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;    
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font);
}
