:root {
    --main-color:rgb(209,223,236);
    --secondary-color:midnightblue;
    --btn-color:rgb(28,128,238);
    --light:white;
    --dark:black;    
    --header-font:"Libre Caslon Text", serif;
    --main-font:sans-serif;
    --link-colors:rgb(90, 90, 136);
    --gray:gray;
    --font-sm:.8rem;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;    
}

body {
    background-image: linear-gradient(to bottom  , midnightblue 25% , gray 75%);
    background-repeat: no-repeat;  
    font-family: var(--main-font);
    min-height: 100vh;
}

ul {
    list-style: none;
}

/* glopal utilities */
.mt-100 {
    margin-top:100px ;
}

.bg-main {
    background-color: var(--main-color);
}

.letter-space-wide {
    letter-spacing:5px 
}


/* navBar styles */
nav .links a {  
    color: var(--link-colors);
    font-size: var(--font-sm);
    position: sticky;
    top:0;    
}